<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Не найдено</PageTitle>
        <p>Страница не найдена.</p>
    </NotFound>
</Router>
